<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nonograms"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="author"
            android:value="202111509 보꾸옥안 4학년 컴퓨터공학전공, Kyonggi University"/>
        <meta-data
            android:name="class"
            android:value="모바일프로그래밍 (DD731_1206)"/>
        <meta-data
            android:name="contact"
            android:value="vqa2000mat2000@kyonggi.ac.kr"/>
        <meta-data
            android:name="telephone"
            android:value="010-9466-9189"/>
    </application>
</manifest>